<nav class="col-sm-4 col-md-3 hidden-xs-down bg-faded sidebar"
     [hidden]="!isVisible">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link"
               routerLink="/home"
               routerLinkActive="active">
                <span class="fa fa-fw fa-th-large">&nbsp;</span>
                Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               routerLink="/message"
               routerLinkActive="active">
                <span class="fa fa-fw fa-inbox">&nbsp;</span>
                Weather information</a>
        </li>
    </ul>
</nav>
